* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    font-family: 'Acme', sans-serif;
}

.logoImage {
    height: 50px;
}

.nav {
    display: flex;
    flex-wrap: 'wrap';
    justify-content: center;
}

.profileImage {
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background: gray;
}

.homeTitle {
    border-bottom: 2px solid #033F63;
    color: #033F63;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.category_title {
    border-bottom: 2px solid #033F63;
    color: #033F63;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 2.8em;
    font-weight: bold;
    text-transform: 'capitalize';
}

.public-DraftEditor-content {
    margin: 0 auto;
    width: 70%;
    border-radius: 5px;
    padding: 0 20px;
}

@media only screen and (max-width: 1025px) {
    .public-DraftEditor-content {
        width: 100%;
    }
}

