.wrapper-class {
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .editor-class {
    padding: 0;
    min-height: 150px;
    border: 1px solid black;
  }
  .toolbar-class {
    border: 1px solid black;
  }

  .public-DraftEditor-content {
      width: auto;
      position: relative;
      padding: 0 10px;
  }